<tr id="test_row_<%= test.id %>">
  <%= render "prompt_tracker/testing/prompt_tests/cells/name", test: test, prompt: prompt, version: version %>
  <%= render "prompt_tracker/testing/prompt_tests/cells/template", test: test, version: version %>
  <%= render "prompt_tracker/testing/prompt_tests/cells/variables", test: test %>
  <%= render "prompt_tracker/testing/prompt_tests/cells/evaluator_configs", test: test %>
  <%= render "prompt_tracker/testing/prompt_tests/cells/status", test: test %>
  <%= render "prompt_tracker/testing/prompt_tests/cells/last_run", test: test %>
  <%= render "prompt_tracker/testing/prompt_tests/cells/total_runs", test: test %>
  <%= render "prompt_tracker/testing/prompt_tests/cells/actions", test: test, prompt: prompt, version: version %>
</tr>

<% latest_runs = test.prompt_test_runs.includes(llm_response: :evaluations).order(created_at: :desc).limit(5) %>
<% if latest_runs.any? %>
  <tr class="collapse" id="test-runs-<%= test.id %>">
    <td colspan="8" class="p-0">
      <div class="bg-light p-3">
        <h6 class="mb-3"><i class="bi bi-clock-history"></i> Latest 5 Test Runs</h6>
        <div class="table-responsive">
          <table class="table table-sm table-bordered bg-white mb-0">
            <thead>
              <tr>
                <th style="width: 10%;">Status</th>
                <th style="width: 12%;">Run Time</th>
                <th style="width: 10%;">Response Time</th>
                <th style="width: 8%;">Cost</th>
                <th style="width: 25%;">Rendered Prompt</th>
                <th style="width: 25%;">Response</th>
                <th style="width: 10%;">Evaluations</th>
              </tr>
            </thead>
            <tbody>
              <% latest_runs.each do |run| %>
                <%= render "prompt_tracker/testing/prompt_tests/test_run_row", run: run %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </td>
  </tr>
<% end %>
